body {
    margin: 0;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 250px 200px 50px 250px;
    background-color: rgb(63, 129, 184);
    justify-content: center;
    padding-top: 15px;
    gap: 20px;
}

.deck {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5%;
    background-color: red;
}

.card {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: white;
}

.red {
    color: red;
}

.black {
    color: black;
}

.hidden {
    display: none;
}