/* Setting the overall body style */
body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
    font-family: 'Rajdhani', sans-serif;
    user-select: none;
}

/* Setting grid layout for my game */
section {
    padding: 30px 20px 20px 20px;
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 20px 175px 220px 175px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 12px solid  #f7f7f7;
    background-color: #8b9dc3;
}

/* adding responsive web design for laptops */
@media screen and (max-width: 1300px) {
    section {
        padding: 30px 20px 20px 20px;
        display: grid;
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 20px 120px 165px 120px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border: 12px solid  #f7f7f7;
        background-color: #8b9dc3;
    }
}

/* Styling the 'War!!' text */
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: #f7f7f7;
}

/* Card count */
.player1CardsWon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f7f7f7;
    font-size: 50px;
}

.player2CardsWon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f7f7f7;
    font-size: 50px;
}
/* End card count */

/* Player's decks */
.deck {
    height: 175px;
    width: 120px;
    border: 10px solid #3b5998;
    border-radius: 10%;
    background-color: #dfe3ee ;
    font-size: 40px;
}

/* adding responsive web design for laptops */
@media screen and (max-width: 1300px) {
    .deck {
        height: 120px;
        width: 95px;
        border: 8px solid #3b5998;
        border-radius: 10%;
        background-color: #dfe3ee ;
        font-size: 35px;
    }
    .player1CardsWon {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #f7f7f7;
        font-size: 40px;
    }
    .player2CardsWon {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #f7f7f7;
        font-size: 40px;
    }
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 65px;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 400;
        color: #f7f7f7;
    }
}

.player1Deck {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #49657b;
}

.player2Deck {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #49657b;
}
/* End Player's decks */

/* Styling of the cards being played */
.cards1 {
    text-align: center;
    font-size: 25px;
    color: black;
}

.cards2 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: black;
}

/* adding responsive web design for laptops */
@media screen and (max-width: 1300px) {
    .cards2 {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        color: black;
    }
    .cards1 {
        text-align: center;
        font-size: 25px;
        color: black;
    }
}

.blue {
    color: #3b5998;
}

.white {
    color: #f7f7f7;
}

.cardHolder1 {
    height: 150px;
    width: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    background-color: white;
    font-family: serif;
}

.cardHolder2 {
    height: 150px;
    width: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 10px;
    background-color: white;
    font-family: serif;
}

.war-cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 120px;
    border: 2px solid black;
    font-size: 50px;
    background-color: white;
    font-family: serif;
}

.war-cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 120px;
    border: 2px solid black;
    font-size: 50px;
    background-color: white;
    font-family: serif;
}

/* adding responsive web design for laptops */
@media screen and (max-width: 1300px) {
    .cardHolder1 {
        height: 110px;
        width: 80px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        margin-bottom: 40px;
        margin-left: 12px;
        background-color: white;
        font-family: serif;
    }
    .cardHolder2 {
        height: 110px;
        width: 80px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        margin-top: 40px;
        margin-left: 12px;
        background-color: white;
        font-family: serif;
    }
    .war-cards1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
        width: 80px;
        border: 2px solid black;
        font-size: 35px;
        background-color: white;
        font-family: serif;
    }
    .war-cards2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
        width: 80px;
        border: 2px solid black;
        font-size: 35px;
        background-color: white;
        font-family: serif;
    }
}

.red {
    color: red;
}

.black {
    color: black;
}
/* End of cards styling */

/* Button to start the game styles */
.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 35px;
    background-color: #dfe3ee;
    border: 5px solid #3b5998;
    border-radius: 10%;
    font-family: 'Rajdhani', sans-serif;
    color: #49657b;
}

/* Button to draw the cards */
.draw {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 35px;
    background-color: #dfe3ee;
    border: 5px solid #3b5998;
    border-radius: 10%;
    font-family: 'Rajdhani', sans-serif;
    color: #49657b;
}

.playAgain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    background-color: #dfe3ee;
    border: 3px solid #3b5998;
    font-family: 'Rajdhani', sans-serif;
    color: #49657b;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .start-game {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        font-size: 30px;
        background-color: #dfe3ee;
        border: 4px solid #3b5998;
        border-radius: 10%;
        font-family: 'Rajdhani', sans-serif;
        color: #49657b;
    }
    .draw {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        font-size: 30px;
        background-color: #dfe3ee;
        border: 4px solid #3b5998;
        border-radius: 10%;
        font-family: 'Rajdhani', sans-serif;
        color: #49657b;
    }
    .playAgain {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        font-size: 16px;
        background-color: #dfe3ee;
        border: 3px solid #3b5998;
        font-family: 'Rajdhani', sans-serif;
        color: #49657b;
        font-weight: bold;
    }
}

/* Setting a hover attribute for all buttons to add interactive ability */
button:hover {
    cursor: pointer;
    background-color: #3b5998;
    border-color: #dfe3ee;
    color: #dfe3ee;
}

/* A text that is added after a game has been ended */
.text {
    display: flex;
    font-size: 30px;
    color: #f7f7f7;;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* adding responsive web design for laptops */
@media screen and (max-width: 1300px) {
    .text {
        display: flex;
        font-size: 25px;
        color: #f7f7f7;;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* Modal Styling */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 4px solid #3b5998;
    z-index: 10;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #3b5998;
    background-color: #dfe3ee;
}

.header .title {
    font-size: 30px;
    font-weight: bold;
    color: #464646;
}

.header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    color: #464646;
}

.header .close-button:hover {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    color: #3b5998;
}

.body {
    padding: 10px 15px;
    font-size: 20px;
    background-color: #dfe3ee;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    transition: 200ms ease-in-out;
}

.description-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    background-color: #dfe3ee;
    border: 3px solid #3b5998;
    font-family: 'Rajdhani', sans-serif;
    color: #49657b;
    font-weight: bold;
}

/* adding responsive web design for laptops */
@media screen and (max-width: 1300px) {
    .description-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        font-size: 14px;
        background-color: #dfe3ee;
        border: 3px solid #3b5998;
        font-family: 'Rajdhani', sans-serif;
        color: #49657b;
        font-weight: bold;
    }
}

/* End of modal styling */

/* styling my war container that is hidden until a war is initiated */
.warContainer {
    border: 8px solid  #f7f7f7;
    border-right: none;
    background-color: #8b9dc3;
    gap: 15px;
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 140px;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.warText {
    margin: 0;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 30px;
    color: #f7f7f7;
    text-align: center;
}
.war1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.war2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px
}

.warStyles {
    font-size: 40px;
    font-weight: 700;
}

/* Responsive Design for smartphone devices */
@media screen and (max-width: 800px) {
    section {
        padding: 30px 20px 20px 20px;
        display: grid;
        grid-template-columns: 60px 60px 60px;
        grid-template-rows: 20px 80px 110px 80px;
        justify-content: center;
        align-items: center;
        gap: 22px;
        border: 10px solid  #f7f7f7;
        background-color: #8b9dc3;
    }
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 400;
        text-decoration: underline;
        color: #f7f7f7;
    }
    .cards1 {
        text-align: center;
        font-size: 14px;
    }
    .cards2 {
        display: flex; 
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
    }
    .deck {
        height: 70px;
        width: 55px;
        border: 6px solid #3b5998;
        border-radius: 8%;
        background-color: #dfe3ee ;
        font-size: 20px;
    }
    .player1CardsWon {
        font-size: 24px;
    }
    .player2CardsWon {
        font-size: 24px;
    }
    .cardHolder1 {
        height: 70px;
        width: 50px;
        font-size: 22px;
        margin-bottom: 40px;
        margin-left: 7px;
    }
    .cardHolder2 {
        height: 70px;
        width: 50px;
        font-size: 22px;
        margin-left: 7px;
    }
    .war-cards1 {
        height: 70px;
        width: 50px;
        font-size: 22px;
    }
    .war-cards2 {
        height: 70px;
        width: 50px;
        font-size: 22px;
    }
    .start-game {
        padding: 4px;
        font-size: 18px;
        background-color: #dfe3ee;
        border: 3px solid #3b5998;
        border-radius: 10%;
    }
    .draw {
        padding: 4px;
        font-size: 18px;
        background-color: #dfe3ee;
        border: 3px solid #3b5998;
        border-radius: 10%;
    }
    .playAgain {
        padding: 3px;
        font-size: 12px;
        background-color: #dfe3ee;
        border: 2px solid #3b5998;
        font-weight: 400;
    }
    .text {
        font-size: 20px;
    }
    .warStyles {
        font-size: 20px;
        font-weight: 700;
    }
    .warContainer {
        border: 6px solid #f7f7f7;
        border-right: none;
        background-color: #8b9dc3;
        gap: 12px;
        display: grid;
        grid-template-columns: 60px;
        grid-template-rows: 120px;
        justify-content: center;
        align-items: center;
    }
    .hidden {
        display: none;
    }
    .warText {
        margin: 0;
        margin-right: 4px;
        margin-left: 4px;
        font-size: 16px;
        color: #f7f7f7;
        text-align: center;
    }
    .war1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .war2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 15px
    }
    .header {
        padding: 8px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #3b5998;
        background-color: #dfe3ee;
    }
    .header .title {
        font-size: 22px;
        font-weight: bold;
        color: #464646;
    }
    .header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 22px;
        font-weight: bold;
        color: #464646;
    }
    .body {
        padding: 8px 11px;
        font-size: 18px;
        background-color: #dfe3ee;
    }
    .description-button {
        padding: 4px;
        font-size: 11px;
        font-weight: 400;
    }
}